<div class="card-container d-flex">
    <div class="card">
        <img class="card-img-top" src="/images/camp.jpg" alt="Card image cap">
        <div class="card-body">
            <h3 class="card-title">Camping</h3>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Know more</a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="/images/snow-mobile.jpg" alt="Card image cap">
        <div class="card-body">
            <h3 class="card-title">Snow-Mobile</h3>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Know more</a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="/images/excursion.jpg" alt="Card image cap" style="height: 230px;">
        <div class="card-body">
            <h3 class="card-title">Excursion</h3>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Know more</a>
        </div>
    </div>
</div>